Name:           ansible-collection-{{ info.namespace.name }}-{{ info.collection.name }}
Version:        {{ info.version }}
Release:        1
Summary:        {{ info.metadata.description | default('None') }}
License:        {{ info.metadata.license[0] | default('UNKNOWN') }}
URL:            {{ info.metadata.homepage }}
Source0:        {{ info.download_url }}
BuildArch:      noarch
BuildRequires:  ansible-packaging

Requires:       ansible
{% for dep in info.metadata.dependencies -%}
Requires:       ansible-collection-{{ dep }} >= {{ info.metadata.dependencies[dep] }}
{% endfor %}

%description
%{summary}

%prep
%autosetup -c %{name}-%{version}-%{release}
find -type f ! -executable -name '*.py' -print -exec sed -i -e '1{\@^#!.*@d}' '{}' +

%build
%ansible_collection_build


%install
%ansible_collection_install

%files -f %{ansible_collection_filelist}
{% if info.metadata.license_file %}%license {{ info.metadata.license_file }} {%- endif %}
{% if info.metadata.readme %}%doc {{ info.metadata.readme }} {%- endif %}


%changelog
